.question-block {
  margin-bottom: 8px;
  width: 90vw;
  @extend %block-background;

  &--sound {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .sound--photo {
    display: contents;

    img {
      @extend %bird-img;
    }
  };

  .sound--player {
    width: 55%;
  }
}
