.question-block {
margin-bottom: 2%;
@extend %block-background;

&--sound {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.sound--photo {
  display: contents;

  img {
    width: 30%;
    height: 30%;
    border-radius: 14px;
  }
};

.sound--player {
  width: 55%;
}
}
