.player {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  flex-wrap: nowrap;
  justify-content: center;

  input[type='range'] {
    overflow: hidden;
    width: 80px;
    -webkit-appearance: none;
    background-color: #9a905d;
  }
  input[type='range']::-webkit-slider-runnable-track {
    height: 5px;
    -webkit-appearance: none;
    color: $nav-bar-color;
    margin-top: -1px;
  }

  input[type='range']::-webkit-slider-thumb {
    width: 5px;
    -webkit-appearance: none;
    height: 25px;
    cursor: grab;
    background: #819c05;
    box-shadow: -80px 0 0 80px $nav-bar-color;
  }

  .seek{
    display: flex;
      width: -webkit-fill-available;
    &--range {
      width: -webkit-fill-available;
      display: flex;
      flex-direction: column-reverse;
    input {
      width: -webkit-fill-available;
    }
  }
  }
  .duration {
    display: flex;
    justify-content: space-between;
  }

  .controls {
    &--options {
    display: flex;
    justify-content: space-around;
    width: -webkit-fill-available;
    .rate,
    .loop,
    .mute,
    .volume {
      &:hover {
        @extend %player-hover;
       }
       &:active {
         @extend %player-active;
       }
    }
    .volume {
      display: flex;
      span {
        width: 29px;
        align-self: center;
      }
      input {
        margin-right: 5px;
        align-self: center;
        height: 5px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
      }


      }
    }

    &--play {
      display: flex;
      align-items: center;
      align-self: center;
      width: -webkit-fill-available;

      .button-play {
        width: 40px;
        margin: 5px;
        cursor: pointer;
        transition: ease-in-out 1s;
      -webkit-transition: ease-in-out 1s;
      -moz-transition: ease-in-out 1s;
      -ms-transition: ease-in-out 1s;
      -o-transition: ease-in-out 1s;
        img {
          width: -webkit-fill-available;
          &:hover {
           @extend %player-hover;
          }
          &:active {
            @extend %player-active;
          }
        }
      }
    }
  }
}
