.player {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  flex-wrap: nowrap;
  justify-content: center;

  .seek{
    display: flex;
      width: -webkit-fill-available;
    &--range {
      width: -webkit-fill-available;
      display: flex;
      flex-direction: column-reverse;
    input {
      width: -webkit-fill-available;
    }
  }
  }
  .duration {
    display: flex;
    justify-content: space-between;
  }

  .controls {
    &--play {
      display: flex;
      align-items: center;
      align-self: center;
      width: -webkit-fill-available;
    }
    &--options {
    display: flex;
    justify-content: space-around;
    width: -webkit-fill-available;
    .volume {
      display: flex;
      span {
        width: 29px;
        align-self: center;
      }
      input {
        margin-right: 5px;
        align-self: center;
        height: 5px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
}

      input[type='range'] {
        overflow: hidden;
        width: 80px;
        -webkit-appearance: none;
        background-color: #9a905d;
      }
      input[type='range']::-webkit-slider-runnable-track {
        height: 5px;
        -webkit-appearance: none;
        color: #13bba4;
        margin-top: -1px;
      }

      input[type='range']::-webkit-slider-thumb {
        width: 5px;
        -webkit-appearance: none;
        height: 25px;
        cursor: grab;
        background: #819c05;
        box-shadow: -80px 0 0 80px #43e5f7;
      }
      }
    }
    &--check-box {
      display: flex;
      input {
        margin-right: 10px;
      }
      label {
        padding-right: 3px;
      }
    }

    &--play {

      .button-play {
        width: 40px;
        margin: 5px;
        cursor: pointer;
        transition: ease-in-out 1s;
      -webkit-transition: ease-in-out 1s;
      -moz-transition: ease-in-out 1s;
      -ms-transition: ease-in-out 1s;
      -o-transition: ease-in-out 1s;
        img {
          width: -webkit-fill-available;
          &:hover {
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
          }
          &:active {
            transform: scale(0.9);
            -webkit-transform: scale(0.9);
            -moz-transform: scale(0.9);
            -ms-transform: scale(0.9);
            -o-transform: scale(0.9);
}
        }
      }
    }
  }
}
