.player {

  .seek{
    display: flex;

    &--range {
      width: -webkit-fill-available;
    input {
      width: -webkit-fill-available;
    }
  }
  }
  .duration {
    display: flex;
    justify-content: space-between;
  }

  .controls {
    &--options {
    display: flex;
    justify-content: space-around;
    .volume {
      display: flex;
      span {
        width: 29px;
        align-self: center;
      }
      input {
        margin-right: 10px;
      }
      }
    }
    &--check-box {
      input {
        margin-right: 10px;
      }
      label {
        padding-right: 3px;
      }
    }

    &--play {
      .button-play {
        width: 40px;
        margin: 5px;
        cursor: pointer;

        img {
          width: -webkit-fill-available;
        }
      }
    }
  }
}
