form{
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}
body{
  height: 97vh;
  width: 100vw;
  background-color: #222;
  color: white;
  overflow-x: hidden;
  overflow-y: auto;
}
#root{
  width: inherit;
  overflow: hidden;
}
*{
  box-sizing: border-box;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 0 25px 25px 25px;
}

a.disabled {
  pointer-events: none;
}
