form{
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}
body{
  height: 100vh;
  width: 100vw;
}
#root{
  height: inherit;
  width: inherit;
  overflow-x: hidden;
}
*{
  box-sizing: border-box;
}
