$nav-bar-color: #008ebc;
$background-color: #13594d;
$font-main-color: white;
$succes-color: #3ff309;
$buttons-main: azure;
$link-color: white;
$link-active-color: darkcyan;
$link-active-bg-color: bisque;
$palyer-range-inactive-color: #026d99;
