.button--next {
  margin: 8px 0;
  width: 100%;
  border-radius: 15px;
  outline: none;
  filter: brightness(0.5);
}

.button-next--active {
  background-color: $nav-bar-color;
  filter: none;
  -webkit-filter: none;
}


